    /**{border: 1px solid red;}*/
    body {
        background-color: lightgrey;
        margin: 0px;
    }
    
    h1, h2, h3 {
        font-family: sans-serif;
        margin: 0%;
    }
    
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: darkgray;
    }
    
    section {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2.5%;
    }
    
    #frm_login {
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    #lbl_nome, #lbl_senha{
        color: red;
        display: none;
    }
    
    #sct_buttons{
        flex-direction: row;
    }
    
    #frm_ranking {
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    #td_ranking {
        border-radius: 10px;
        border-color: black;
        border-style: solid;
        border-width: 1px;
        margin: 10px;
    }

    #td_ranking #tdh_ranking{
        font-weight: bolder;
    }

    #td_ranking td {
        border-color: black;
        border-style: solid;
        border-width: 1px;
    }

    #frm_inicio {
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    #sct_questionario {
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }